.loaderMain {
  height: 100dvh;
  width: 100dvw;
  background: var(--bg);
  display: flex;
  align-items: center;
  justify-content: center;
}

.loaderContainer {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  color: var(--text);
}

.loaderContainer h1 {
  font-size: var(--text-6xl);
  color: var(--primary);
  font-family: var(--font-head);
}

.loaderContainer h3 {
  font-size: var(--text-2xl);
  color: var(--secondary);
  font-family: var(--font-body);
}

.loaderContainer a {
  margin-top: 100px;
  font-size: var(--text-2xl);
  color: var(--text);
  font-family: var(--font-body);
  border-bottom: 1px solid transparent;
  padding: 10px 20px;
}

.loaderContainer a:hover {
  color: var(--primary);
  border-bottom: 1px solid var(--primary);
}
